@font-face {
    font-family: "Lato";
    src: url('./fonts/lato.ttf');
}

.progressBar {
    height:18px;
    margin:0 auto 20px auto;
    padding:0px; 
    background:#cfcfcf;
    border-width:1px;
    border-style:solid;
    border-color: #aaa #bbb rgb(202, 202, 202) #bbb;    
    box-shadow:inset 0px 2px 3px #bbb;  
    border-radius:2px;
    visibility: inherit;
}

.filler {
    visibility: inherit;
    border-radius:2px;
    height: inherit;
    margin-left: 1px;
    transition: width .2s ease-in;
    background-size:18px 18px; 
    box-shadow:inset 0px 2px 8px rgba(255, 255, 255, .5), inset -1px -1px 0px rgba(0, 0, 0, .2);
}

.progressLabel{
    width: inherit;
    text-align: center;
    font-size: 10pt;
    margin:auto;
    color:white;
    margin-left: 5px;
    font-family: Lato, Arial, Helvetica, sans-serif;
}