/* @import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); */

@font-face {
    font-family: "Lato";
    src: url('./fonts/lato.ttf');
}

html {
    height: 100%;
}

body {
    background: #fafafa;
    overflow-x: hidden;
}

audio {
    display: none;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

@keyframes fadeOutAnimation { 
    0% { 
        opacity: 0.9; 
    } 
    100% { 
        opacity: 0; 
     } 
} 

.headerContainer {
    text-align:center;
    width: 40%;
    margin: auto;
    height: 55;
    padding-top: 0px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #AFAFAF;
    opacity: 1.0;
    color: #707070;
    /* color: cadetblue; */
}

.headerContainer:hover {
    opacity: 0.80;
}

.headerTitle{
    opacity: inherit;
    margin: auto;
    color: inherit;
    font-family:  "Arial-Narrow", Arial, sans-serif;
    text-align: center;
    margin-left: 35px;
    font-size: 30pt;
    vertical-align: bottom;
    display: inline-block;
    padding-top: 0px;
    margin-top: -4px;
    /* background-color: rebeccapurple; */
    /* padding-bottom: 5px; */
    font-weight: 500;
    letter-spacing: 3px;
    /* -webkit-text-stroke-width: 1.5px; */
    /* -webkit-text-stroke-color: #707070; */
}

.headerLogo {
    opacity: inherit;
    width: 40px;
    height: 40px;
    margin-top: 15px;
    padding-top: 2px;
    vertical-align: center;
    display: inline-block;
    margin: auto;
    /* filter: sepia(100%);
  -webkit-filter: sepia(100%); */
}

.main{
    width: 40%;
    margin: auto;
    max-width:750px;
    position: relative;
}

.mainBackground {
    background-color: #fafafa;
    display: inline-block;
    position: absolute;
    top: 10;
    left: 0; 
    opacity: 0.85;
    z-index:-1; 
    width: 100%;
    height: 750px;
    -webkit-filter: blur(20px);
    filter: blur(20px);
}

.recordLogoContainer{
    position: relative;
    /* top: 0;
    left: 0; */
    width: 38px;
    height: 38px;
    display: inline-block;
    /* margin-top: 15px; */
    /* padding-top: 2px; */
    border-radius: 25px;
    vertical-align: center;
    /* margin: auto; */
}

.recordLogoBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: inline-block;
    box-shadow: 1.5px 1.5px 1.5px 1px rgba(0, 0, 0, .25);
}
.recordLogoFilter{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 175px;
    margin-top: 35px;
}

.imgHidden {
    visibility: hidden;
    width: 200px;
    height: 200px;
}

.loading {
    box-shadow: none;
}

.visibleHome{
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, .5);
    animation: fadeInAnimation ease 250ms; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.visible{
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, .5);
}

.title{
    color: #878787;
    font-family:  Lato, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 23pt;
    margin-bottom: 12px;
    width: 100%;
    padding-top: 7px;
    /* background-color: sandybrown; */
    /* overflow-wrap: break-word;
    word-break: break-word; */
}

.subtitle {
    color: #A2A0A0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight:lighter;
    font-size: 14.5pt;
    min-height: 1em;
    margin:auto;
    margin-bottom: 20px;
    max-height: 120px;
}

.subtitlePadded {
    color: #A2A0A0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight:lighter;
    font-size: 14.5pt;
    min-height: 1em;
    width: 100%;
    overflow-wrap: break-word;
    padding-bottom: 20px;
    margin:auto;
    margin-bottom: 17px;
    max-height: 120px;
}

.homeForm {
    display: block;
}

.homeInput {
    color:#c2c0c0;
    width: 100%;
    height: 34px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1.5px solid #A2A0A0;
    outline: none;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 14pt;
    padding: 8px 20px;
}

.hidden {
    display: none;
}

.shareButton {
    display: block;
    margin: auto;
    height: 40px;
    width: 125px;
    border-radius: 15px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    border: 0px solid  #707070;
    outline: none;
    font-size: 16pt;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color:#A2A0A0;
    margin-top: 25px;
}

.shareButton:hover {
    -webkit-filter: brightness(80%);
}

.btnContainerHidden {
    visibility: hidden;
}

.btnContainer {
    padding-top: 10px;
    width:100%;
    text-align:center;
    opacity: 0;
    animation: fadeInAnimation ease 750ms; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.spotifyButton {
    display: inline-block;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    color: black;
    outline: none;
    font-size: 16pt;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color:#A2A0A0;
    margin:0 auto;
    padding-right: 10px;
    margin-bottom: 10px;
}

.spotifyButton:hover {
    -webkit-filter: brightness(80%);
}

.appleButton {
    display: inline-block;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    color: black;
    outline: none;
    font-size: 16pt;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color:#A2A0A0;
    display: inline-block;
    margin:0 auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;

}

.appleButton:hover{
    -webkit-filter: brightness(80%);
}

.shrButton {
    padding-left: 10px;
    display: inline-block;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    color: black;
    outline: none;
    font-size: 16pt;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color:#A2A0A0;
    margin:0 auto;
    margin-bottom: 10px;
}

.shrButton:hover{
    -webkit-filter: brightness(80%);
}

.trackName {
    padding-top: 0px;
    margin-top: 0px;
    color: #A2A0A0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: lighter;
    font-size: 11pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.trackAttributes {
    margin-top: 2px;
    padding-top: 0px;
    color: #A2A0A0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: lighter;
    font-size: 10pt;
    /* background-color: royalblue; */
}

.trackItem {
    border-bottom: 0.5px solid #E4E4E4;
    list-style: none;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.trackImage {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 25px;
    width: 25px;
    display: inline-block;
}

.trackInfo {
    padding-top: -5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    box-sizing: border-box;
    vertical-align: top;
    height: 35px;
    display: inline-block;
    background-color: salmon;
}

.trackDurationInfo {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 35px;
    float: right;
}

.trackDuration {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    margin-top: 0px;
    color: #A2A0A0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: right;
    font-weight: lighter;
    font-size: 11pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.albumTrackName {
    padding-top: 8px;
    margin-top: 0px;
    color: #A2A0A0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: lighter;
    font-size: 16pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.albumTrackItem {
    border-bottom: 0.5px solid #E4E4E4;
    list-style: none;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.albumTrackItemHover {
    border-bottom: 0.5px solid #E4E4E4;
    list-style: none;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.albumTrackInfo {
    padding-top: -5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    box-sizing: border-box;
    vertical-align: top;
    height: 40px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: "...";
    display: inline-block;
}

.playbackContainer {
    position: relative;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-right: 10px;
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    display: inline-block;
    border-style: none;
    background-color: turquoise;
}

.plPlaybackImage {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    display: inline-block;
    position: absolute;
    top:0;  
    left:0;
}

.plPlaybackImageHover {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: absolute;
    top:0;  
    left:0;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.playbackIcon {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: inline-block;
    opacity: 0.75;
    position: absolute;
    top:0;  
    left:0;
    background-color: lightgray;
}

.abPlaybackIndex {
    padding-top: 8px;
    margin-top: 0px;
    color: #A2A0A0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-align: left;
    font-weight: lighter;
    font-size: 16pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.abPlaybackIcon {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: inline-block;
    opacity: 0.75;
    position: absolute;
    top:0;  
    left:0;
    background-color: lightgray;
    border-radius: 20px;
}

.trackCoverContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-top: 60px;
    position: relative;
    
}

.trackCover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-top: 60px;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, .5);
}

.trackCoverHover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-top: 60px;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    position: absolute;
    top:0;  
    left:0;
}

.trackCoverIcon {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    display: inline-block;
    opacity: 0.75;
    position: absolute;
    top:0;  
    left:0;
    background-color: lightgray;
}

.popup{
    background-color: #f3f3f3;
    height: 200px;
    width: 400px;
    position: absolute;  
    opacity: 0.9;
    left: 1%;  
    right: 1%;  
    top: 20%;  
    bottom: 25%;  
    margin: auto; 
    z-index:99; 
    text-align: center;
    border-radius: 20px;
    padding-left: -20%;
    padding-right: -20%;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
}

.popupFadeOut{
    background-color: #f3f3f3;
    height: 200px;
    width: inherit;
    position: absolute;  
    opacity: 0.9;
    left: 1%;  
    right: 1%;  
    top: 20%;  
    bottom: 25%;  
    margin: auto; 
    z-index:99; 
    text-align: center;
    border-radius: 20px;
    padding-left: -20%;
    padding-right: -20%;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    animation-delay: 2s;
    animation: fadeOutAnimation ease 3000ms; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

.popupCancelFadeOut{
    background-color: #f3f3f3;
    height: 200px;
    width: 400px; 
    position: absolute;  
    opacity: 0.9;
    left: 1%;  
    right: 1%;  
    top: 20%;  
    bottom: 25%;  
    margin: auto; 
    z-index:99; 
    text-align: center;
    border-radius: 20px;
    padding-left: -20%;
    padding-right: -20%;
    box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
    animation: fadeOutAnimation ease 750ms; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

/* .popup:hover{
    opacity: 0.9;
} */

.popupTitle {
    color: #595959;
    font-family:  Lato, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 22pt;
    padding-top: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popupsubTitle {
    color: #595959;
    font-family:  Lato, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 16pt;
    padding-top: 0px;
    margin-top: 28px;
    margin-bottom: 20px;
}

.popupTextArea{
    width: 70%;
    height: 15%;
    resize: none;
    margin: auto;
    font-family:  Lato, Arial, Helvetica, sans-serif;
    font-size: 16pt;
    opacity: 1.0;
    border-radius: 10px;
    border-color: #c0c0c0;
    color: #a3a3a3;
    overflow-x: scroll;
    resize: none;
    white-space: nowrap;
    overflow-x: scroll;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.popupTextArea::-webkit-scrollbar {
    display: none;
  }

.popupActionButton {
    display: inline-block;
    margin: auto;
    text-align: center;
    height: 35px;
    /* width: 10px; */
    margin-left: 10px;
    margin-right: 10px;
    width: 40%;
    border-radius: 15px;
    /* background-color: salmon; */
    margin-bottom: 10px;
    background-color: white;
    color: black;
    /* border: 1px solid #707070; */
    outline: none;
    font-size: 16pt;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: #878787;
    margin-top: 7px;
}

.popupActionButton:hover{
    -webkit-filter: brightness(80%);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .25);
}
 
  
.popupCopyButton {
    display: block;
    margin: auto;
    height: 35px;
    width: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    /* border: 1px solid #707070; */
    outline: none;
    font-size: 16pt;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color: #878787;
    margin-top: 20px;
}

.popupCopyButton:hover{
    -webkit-filter: brightness(80%);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .25);
}

.popupCloseButton{
    position: absolute;
    display: inline-block;
    margin: auto;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    /* border: 1px solid #707070; */
    outline: none;
    font-size: 14pt;
    font-family: Lato, Arial, Helvetica, sans-serif;
    color:#A2A0A0;
    margin-top: 15px;
    left: 85%;  
    right: 10%;  
    top: 1%;  
    bottom: 1%;
    padding-right: 7.5px;  
    text-align: center;
    font-weight: bold;
}

.popupCloseButton:hover{
    -webkit-filter: brightness(80%);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, .25);
}

.popupCopied{
    color: #595959;
    font-family:  Lato, Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 35pt;
    padding-top: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popupLoadingIndicator {
    height: 150px;
    width: 150px;
    margin-top: -30px;
}

ul {
    overflow:auto;
    height: 300px;
    opacity: 0;
    animation: fadeInAnimation ease 750ms; 
    animation-delay: 500ms;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    opacity: 0.5;
}

@media (max-width: 1500px) {

    .headerContainer{
        width: 40%;
    }
    .main{
        width: 40%;
        max-width: 750px;
    }
}

@media (max-width: 1400px) {

    .headerContainer{
        width: 40%;
    }
    .main{
        width: 40%;
        max-width: 750px;
    }
}

@media (max-width: 1200px) {

    .headerContainer{
        width: 50%;
    }
    .main{
        width: 50%;
        max-width: 750px;
    }
}

@media (max-width: 1000px) {

    .headerContainer{
        width: 65%;
    }
    .main{
        
        width: 65%;
        max-width: 750px;
    }
}

@media (max-width: 800px) {

    .headerContainer{
        width: 80%;
    }
    .main{

        width: 80%;
        max-width: 750px;
    }
}


@media (max-width: 600px) {

    .headerContainer{
        width: 95%;
    }
    .main{
        width: 95%;
    }
}

