@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');



html {
    height: 100%;

}

body {
    /* background-color: brown; */
    background: #F4F4F4;
    /* overflow: hidden; */
    /* background: rgb(234,234,234); */
    /* background: linear-gradient(0deg, rgba(180,180,180,1) 0%, rgba(210,210,210,1) 30% rgba(255,255,255,1) 100%); */
    /* background: linear-gradient(0deg, rgba(245, 149, 66, 0.4) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); */

    /* background: linear-gradient(0deg, rgba(245, 149, 66, 0.4) 0%,rgba(245, 149, 66, 0.1) 100%); */



    /* animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;  */
}

audio {
    display: none;
    /* visibility: hidden; */
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

.headerTitle{
    width: 40%;
    margin: auto;
    color: #A2A0A0;
    font-family: Lato;
    text-align: center;
    font-weight: normal;
    font-size: 30pt;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #AFAFAF;
}

.main{
    width: 40%;
    margin: auto;
    /* background-color: royalblue; */
}

/* .contentContainer {
    width: 40%;
    margin:auto;
    background-color: red;
} */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-top: 60px;
}

.imgHidden {
    visibility: hidden;
    width: 200px;
    height: 200px;
}

.loading {

}

.visible{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.title{
    color: #A2A0A0;
    font-family: Lato;
    text-align: center;
    font-weight: normal;
    font-size: 40pt;
    /* background-color: tomato; */
    margin-bottom: 10px;
}

.subtitle {
    color: #A2A0A0;
    font-family: Lato;
    text-align: center;
    font-weight:lighter;
    font-size: 18pt;
    height: 100%;
    /* width: 50%; */
    margin:auto;
    margin-bottom: 10px;
    max-height: 120px;
    /* -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;   */
}

.homeForm {
    display: block;
}

.homeInput {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1.5px solid #707070;
    outline: none;
    font-family: Lato;
    font-size: 16pt;
    padding: 8px 20px;
}

.hidden {
    /* visibility: hidden; */
    display: none;
}

.shareButton {
    display: block;
    margin: auto;
    height: 40px;
    width: 125px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    border: 1px solid #707070;
    outline: none;
    font-size: 16pt;
    font-family: Lato;
    color:#A2A0A0;
}

.btnContainer {
    padding-top: 10px;
    width:100%;
    text-align:center;
    /* background-color: sandybrown; */
}

.spotifyButton {
    display: inline-block;
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    /* background-color: salmon; */
    color: black;
    /* border: 1px solid #707070; */
    outline: none;
    font-size: 16pt;
    font-family: Lato;
    color:#A2A0A0;
    margin:0 auto;
    padding-right: 10px;
    margin-bottom: 10px;

}

.appleButton {
    display: inline-block;
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    /* background-color: #1db954; */
    color: black;
    /* border: 1px solid #707070; */
    outline: none;
    font-size: 16pt;
    font-family: Lato;
    color:#A2A0A0;
    display: inline-block;
    margin:0 auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;

}

.shrButton {
    padding-left: 10px;
    display: inline-block;
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    /* background-color:#707070; */
    color: black;
    /* border: 1px solid #707070; */
    outline: none;
    font-size: 16pt;
    font-family: Lato;
    color:#A2A0A0;
    margin:0 auto;
    margin-bottom: 10px;

}

/* #container {
    width:100%;
    text-align:center;
} */

/* #left {
    float:left;
    width:100px;
} */

/* #center {
    display: inline-block;
    margin:0 auto;
    width:100px;
} */

/* #right {
    float:right;
    width:100px;
} */



.trackName {
    padding-top: 0px;
    margin-top: 0px;
    color: #A2A0A0;
    font-family: Lato;
    text-align: left;
    font-weight: lighter;
    font-size: 14pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /* background-color: darkseagreen; */
}

.trackAttributes {
    /* background-color: red; */
    margin-top: 0px;
    padding-top: 0px;
    color: #A2A0A0;
    font-family: Lato;
    text-align: left;
    font-weight: lighter;
    font-size: 10pt;
    /* background-color: darkorchid; */
}

.trackItem {
    /* background-color: blueviolet; */
    border-bottom: 0.5px solid #E4E4E4;
    list-style: none;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* background-color: dodgerblue; */
}

.trackImage {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: inline-block;
}

/* .trackImage:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0.75;
} */

.trackInfo {
    padding-top: -5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    box-sizing: border-box;
    vertical-align: top;
    height: 40px;
    display: inline-block;
}

.trackDurationInfo {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    box-sizing: border-box;
    height: 40px;
    float: right;
}

.trackDuration {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    margin-top: 0px;
    color: #A2A0A0;
    font-family: Lato;
    text-align: right;
    font-weight: lighter;
    font-size: 13pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.albumTrackName {
    padding-top: 8px;
    margin-top: 0px;
    color: #A2A0A0;
    font-family: Lato;
    text-align: left;
    font-weight: lighter;
    font-size: 16pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.albumTrackItem {
    border-bottom: 0.5px solid #E4E4E4;
    list-style: none;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.albumTrackItemHover {
    border-bottom: 0.5px solid #E4E4E4;
    list-style: none;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.albumTrackInfo {
    padding-top: -5px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    box-sizing: border-box;
    vertical-align: top;
    height: 40px;
    max-width: 80%;
    overflow: hidden;
    text-overflow: "...";
    display: inline-block;
}

.playbackIcon {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: inline-block;
    opacity: 0.75;
}

.plPlaybackContainer {
    position: relative;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-right: 10px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: inline-block;
    border-style: none;
}

.plPlaybackImage {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: absolute;
    top:0;  
    left:0;
}

.plPlaybackImageHover {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: absolute;
    top:0;  
    left:0;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    /* opacity: 0.5; */
    

}

.plPlaybackIcon {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: inline-block;
    opacity: 0.75;
    position: absolute;
    top:0;  
    left:0;
    background-color: lightgray;
    /* border-style: none; */

}

ul {
    overflow:auto;
    height: 300px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.1);
    border-radius: 10px;
    opacity: 0.5;
}

@media (max-width: 1500px) {
    .headerTitle{
        width: 40%;
    }
    .main{
        width: 45%;
    }
}

@media (max-width: 1400px) {
    .headerTitle{
        width: 55%;
    }
    .main{
        width: 55%;
    }
}

@media (max-width: 1200px) {
    .headerTitle{
        width: 60%;
    }
    .main{
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .headerTitle{
        width: 75%;
    }
    .main{
        width: 75%;
        /* margin: auto; */
    }
}

@media (max-width: 800px) {
    .headerTitle{
        width: 90%;
    }
    .main{
        width: 90%;
    }
}

