@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    background: #F4F4F4;
    /* background: rgb(234,234,234);
    background: linear-gradient(0deg, rgba(234,234,234,1) 0%, rgba(255,255,255,1) 100%); */
}

.headerTitle{
    width: 50%;
    margin: auto;
    color: #A2A0A0;
    font-family: Lato;
    text-align: center;
    font-weight: normal;
    font-size: 30pt;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #AFAFAF;
}

.main {
    width: 40%;
    margin:auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-top: 60px;
}

.imgHidden {
    visibility: hidden;
    width: 200px;
    height: 200px;
}

.loading {

}

.visible{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.title{
    color: #A2A0A0;
    font-family: Lato;
    text-align: center;
    font-weight: normal;
    font-size: 40pt;
    /* background-color: tomato; */
    margin-bottom: 10px;
}

.subtitle {
    color: #A2A0A0;
    font-family: Lato;
    text-align: center;
    font-weight:lighter;
    font-size: 20pt;
    height: 50px;
    width: 80%;
    margin:auto;
    margin-bottom: 10px;
    /* background-color: slategrey; */
}

.homeForm {
    display: block;
}

.homeInput {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1.5px solid #707070;
    outline: none;
    font-family: Lato;
    font-size: 16pt;
    padding: 8px 20px;
}

.hidden {
    /* visibility: hidden; */
    display: none;
}

.shareButton {
    display: block;
    margin: auto;
    height: 40px;
    width: 125px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
    color: black;
    border: 1px solid #707070;
    outline: none;
    font-size: 16pt;
    font-family: Lato;
    color:#A2A0A0;
}

.btnContainer {
    width:100%;
    text-align:center;
    /* background-color: sandybrown; */
}

.spotifyButton {
    display: inline-block;
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    /* background-color: salmon; */
    color: black;
    /* border: 1px solid #707070; */
    outline: none;
    font-size: 16pt;
    font-family: Lato;
    color:#A2A0A0;
    margin:0 auto;
    padding-right: 10px;
    margin-bottom: 10px;

}

.appleButton {
    display: inline-block;
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    /* background-color: #1db954; */
    color: black;
    /* border: 1px solid #707070; */
    outline: none;
    font-size: 16pt;
    font-family: Lato;
    color:#A2A0A0;
    display: inline-block;
    margin:0 auto;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;

}

.shrButton {
    padding-left: 10px;
    display: inline-block;
    margin: auto;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    /* background-color:#707070; */
    color: black;
    /* border: 1px solid #707070; */
    outline: none;
    font-size: 16pt;
    font-family: Lato;
    color:#A2A0A0;
    margin:0 auto;
    margin-bottom: 10px;

}

/* #container {
    width:100%;
    text-align:center;
} */

/* #left {
    float:left;
    width:100px;
} */

/* #center {
    display: inline-block;
    margin:0 auto;
    width:100px;
} */

/* #right {
    float:right;
    width:100px;
} */



.trackName {
    padding-top: 0px;
    margin-top: 0px;
    color: #A2A0A0;
    font-family: Lato;
    text-align: left;
    font-weight: lighter;
    font-size: 14pt;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.trackAttributes {
    /* background-color: red; */
    margin-top: 0px;
    padding-top: 0px;
    color: #A2A0A0;
    font-family: Lato;
    text-align: left;
    font-weight: lighter;
    font-size: 10pt;
}

.trackItem {
    /* background-color: blueviolet; */
    border-bottom: 0.5px solid #E4E4E4;
    list-style: none;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.trackImage {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.trackInfo {
    /* background-color: aquamarine; */
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    box-sizing: border-box;

    height: 40px;
    display: inline-block;
}

ul {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    box-shadow:inset 1px 2px 4px rgba(0, 0, 0, .5);
}