
@keyframes barAnimation { 

    0% { 
        padding-top: 100%;
        height: 0%;
        opacity: 0.0;
    } 
    20% {
        opacity: 1.0;
    }
    100% { 
        padding-top: 0%;
        height: 100%;
     } 
} 

@keyframes barHideAnimation { 

    0% { 
        padding-top: 0%;
        height: 100%;
    } 
    70% {
        opacity: 1.0;
    }
    90%{
        opacity: 0.0;
    }
    100% { 
        padding-top: 100%;
        height: 0px;
        opacity: 0.0;
    } 
} 


.leftBarsContainer {
    bottom: 0;
    position: absolute;
    left: auto;
    right: auto;
    text-align: left;
    height: 100%;
    overflow: hidden;
    width: 50%;
    z-index: -1;
}
.rightBarsContainer {
    bottom: 0;
    position: absolute;
    left: 50%;
    right: 0;
    text-align: center;
    height: 100%;
    overflow: hidden;
    width: 50%;
    z-index: -2;
}

.barFrameContainer {
    display: inline-block;
    position: absolute;
    bottom: 0px;
}

.barFrame {
    padding-left: 10px;
    padding-right: 10px;
    
    display: inline-block;
    position: relative;
    bottom: 0px;
    /* overflow-y: hidden; */
}

.barFill {
    position:absolute;
    bottom: 0;
    height: 100%;
    /* box-shadow: 10px 10px 5px 5px rgba(155, 218, 220, 0.8); */
    overflow-y: hidden;
    width: 20px;
    animation: barAnimation ease 2000ms; 
    display: inline-block;
    background-color: rgba(95, 158, 160, 1.0);
}

.barEmpty {
    position:absolute;
    bottom: 0;
    height: 0%;
    width: 20px;
    display: inline-block;
}

.barHide {
    position:absolute;
    bottom: 0;
    height: 0%;
    width: 20px;
    display: inline-block;
    /* box-shadow: 10px 10px 5px 5px rgba(155, 218, 220, 0.8); */
    animation: barHideAnimation ease 2000ms; 
}

/* @media (max-width: 800px) {

    .barFill{
        background-color: cadetblue;
        width: 50;
    }
} */